
<form>

  <!-- <div class="form-group">
    <h4>What are you in the market for?</h4>
    <input type="text" class="form-control center" id="search" required>
  </div> -->
  
  <h4>What are you in the market for?</h4>
  <select class="browser-default center" id="box" >
    <option value="" disabled selected>Choose your option</option>
    <option *ngFor="let veggie of vegtables" value="{{veggie}}">{{veggie}}</option>
  </select>


  <button (click)="clickSearch()" type="submit" class="btn btn-success submit-button">Search</button>

</form>